$top: 1em;
$left: 1em;
$background: #21222566;


input:-webkit-autofill { 
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin form-input {
    width: 100%;
    height: 50%;
    border: none; 
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #b78be1;

    &:focus{
        outline: none;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label{
        top: $top - 1.4em;
        font-size: 14px;

        padding: 0% 1%;
        background-color: #b78be1;
        border-radius: 12px;
    }

    &.invalid{
        color: red;
    }

    &.invalid ~ label{
        background-color: red;
    }
}


.input-block{
    position: relative;

    #form__text{
        @include form-input();
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        padding-left: 1em;
        
    }

    #form__login{
        @include form-input();
        margin: 1em;
        background-size: 7%;
        background-position: 4% 0%;
    }

    #form__email{
        @include form-input();
        margin: 1em;
    }
    
    #form__password{
        @include form-input();
        margin: 1em;
    }

    .hide-svg{
        cursor: pointer;
        position: absolute;
        right: 0.063em;
        top: 1.25em;
    }

    label{
        position: absolute;
        pointer-events: none;
        transition: 0.5s;
        top: $top;
        left: $left;
    }
}