.newsBlock{
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: rgb(129, 88, 169);
    border: 1px solid black;
    margin-bottom: 15px;
    .newsTitle{

    }

    .newsText{
        
    }

    .newsAutor{
        
    }
}