.page{
    display: flex;
    flex-wrap: wrap;
    background-color: #161819;
    color: white; 

    .about{
        display: flex;

        min-height: 35vh;
        width: 100%;

        div{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            border: 1px solid black;

            ul{
                list-style-type: none;

                li{
                    padding: 2%;
                }
            }
        }
       
    }

    .news{
        width: 100%;
        min-height: 65vh;
        display: flex;
        border: 1px solid black;

        justify-content: center;
        align-items: center;
    }

    footer{
        width: 100%;
        min-height: 5vh;
        display: flex;
        border: 1px solid black;
    }
}
    