.page{
    display: flex;
    flex-wrap: wrap;
    background-color: #161819;
    align-items: center;
    justify-content: center;
    header{
        display: flex;
        width: 100%;
        min-height: 15vh;
        align-items: center;
        justify-content: center;

        span{
            font-size: 40px;
        }
        
    }

    .registration{
        width: 100%;
        min-height: 84vh;
        display: flex;
        border: 1px solid black;
        align-items: center;
        justify-content: center;

        .registration__form{
            width: 50%;
        }
    }
}
    