.main-page{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #161819;
    color: white;
    font-size: 1.5em;

    .servers-panel{
        height: 100%;
        width: 6%;
        background-color: #161819;
        border-right: 1px solid black;

        display: flex;
        flex-direction: column;
        align-items: center;

        .personal{
            height: 14%;
            padding: 5% 25%;
            border-bottom: 1px solid black;
        }

        .servers{
            height: 76%;
            padding: 5% 25%;
            border-bottom: 1px solid black;
        }

        .settings{
            height: 10%;
            padding: 5% 25%;
        }
    }

    .chats-panel{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;
        border-right: 1px solid black;

        h2{
            height: 4%;
            font-size: 1em;
            text-align: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid black;
        }

        .chats{
            height: 96%;

        }
    }

    .main{
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 55%;

        border-right: 1px solid black;
        .top-panel{
            display: flex;
            height: 4%;
            border-bottom: 1px solid black;
            justify-content: space-between;
            
            h2{
                font-size: 1em;
                padding-bottom: 0.5rem;
            }

        }

        .messages-fill{
            background-color: #161819;
            border-bottom: 1px solid black;
            height: 90%;

        }

        .messages-field{
            display: flex;

            input[type="file"]{
                display: none;
                margin-top: 20%;
            }

            .add-label{
                position: relative;
                top: auto;

            }
            
            #messages-input{
                width: 100%;
                margin: auto;
                background-color: #353a3c;
                border-color: #353a3c;
                border-radius: 30px;
            }


            background-color: #161819;
            height: 4%;
            align-items: flex-end ;


        }
    }

    .people{
        background-color: #161819;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;

        h2{
            height: 4%;
            font-size: 1em;
            text-align: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid black;
        }
    }
}