$top: 15px;
$left: 55px;

.registrations{
    display: flex;
    flex-direction: column;
    color: white;

    border-radius: 10px 10px 0px 0px;
    background-color:rgb(33, 34, 37, 0.4);

    .back_login{
        position: absolute;
        padding-left: 1em;
        padding-top: 0.938em;
    }

    .email-registration{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: space-around;
        align-self: center;
        padding: 15px;
        
        h3{
            text-align: center;
        }

    }

    .register{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        background-image: linear-gradient(to right, rgb(129, 88, 169) 0%, #f0c1ff  90%);
        margin-top: 2%;
        padding: 5px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 15px rgba(129, 88, 169, 0.8);
        border-radius: 0px 0px 10px 10px;
        display: block;
        text-decoration: none;
        
        }

        .register:hover {
            background-position: right center; /* change the direction of the change here */
            color: #39181f;
            box-shadow: 0 0 15px rgb(129, 88, 169);
        }
    }